---
group: koagi
state:
    default: 배경화면-국립세종수목원
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <%
    currentName = '국립세종수목원';
    currentCategory = 'sejong';
    currentNav = 'tour';
    imgPath = `${process.env.IMG_PATH}/koagi`
    %>
    <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_head`, {
        title: currentName,
        currentCategory: currentCategory
    }); %>
</head>
<body class="<%= currentCategory %>">
    <!-- skip navigation -->
    <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_skipNavigation`) %>
    <!-- // skip navigation -->

    <!-- wrap -->
    <div id="wrap">
        <!-- header -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_header`, {
            currentCategory,
            currentNav,
            currentName
        }) %>
        <!-- // header -->

        <!-- visual sub -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_visualSub`, {
            type: 'plant',
            currentNav: '둘러보기',
            key: '국민이 행복한 수목원',
            info: '산림생물다양성 보전과 활용의 중심인 국립백두대간수목원에서<br>산림가치 증진을 통해 국민이 행복한 수목원을 만들어 나가겠습니다',
        }) %>
        <!-- // visual sub -->

        <!-- title -->
         <!-- // title -->

        <!-- contents -->
        <div id="body">

        </div>
        <!-- // contents -->

        <!-- footer -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_footer`, {
            currentCategory,
            currentName,
        }) %>
        <!-- // footer -->

        <!-- navigation -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_navigation`, {
            currentCategory: currentCategory
        }) %>
        <!-- // navigation -->
    </div>
    <!-- // wrap -->
</body>
</html>