---
group: compass
state:
    default: 협력기관
---
<!DOCTYPE html>
<html lang="ko">
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_constants`, {}); %>
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_head`, {}); %>
<body>
    <div class="wrap">
        <!-- 상단메뉴영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_header`, {}); %>
        <!--모바일 MENUAREA-->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_mobileHeader`, {}); %>
        <div class="totladim" style="display: none; opacity: 0.8;"></div>
        <!-- 상단메뉴영역 끝 -->
        <div class="container">
            <!-- 타이틀영역 시작 -->
            <div class="sub-visual7">
                <div class="inner7">
                    <h2><%= pageTitle %></h2>
                    <div class="print-box">
                        <!-- <button><img src="<%= path.images %>/image/site/link.svg"></button> -->
                    </div>
                </div>
            </div>
            <!-- 타이틀영역 끝 -->
            <div class="inner sub-contents-box">
                <!-- 왼쪽메뉴영역 시작 -->
                <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_leftNav`, {
                currentIndex: 0
                }); %>
                <!-- 왼쪽메뉴영역 끝 -->
                <div class="sub-contents">
                    <div class="right-fixed">
                        <div class="right-top">
                            <a href=""><span>TOP</span></a>
                        </div>
                    </div>
                    <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_breadCrum`, {
                    depth1: '국제통용 발자국 검증제도',
                    depth2: '정보공개',
                    depth3: pageTitle,
                    }); %>
                    <div class="lci_area mt-30">
                        <h3><%= pageTitle %></h3>
                    </div>
                    <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_tab`, {
                        tabs: ['인정기구', '검증기관', '교육기관', '자격인증기관', '해외상호인증기관']
                    }); %>

                    <ul class="cooperation-companies">
                        <% for(let i = 0; i < 10; i++) { %>
                        <li>
                            <a href="#" title="삼성 일렉트로닉 국제 표준 바로가기">
                                <figure>
                                    <img src="<%= process.env.BASE_PATH %>/images/compass/cooper_img1.png" width="270" height="120" alt="">
                                    <figcaption>
                                        삼성 일렉트로닉
                                        <br>국제 표준 인정기구 선정
                                    </figcaption>
                                </figure>
                                <span class="date">2023.06.26</span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                    <div class="pagination" id="paging">
                        <a class="prev" alt="이전페이지">이전</a>
                        <a class="choice" href="#1^10" data-pg="1">1</a>
                        <a href="#2^10" data-pg="2">2</a>
                        <a href="#3^10" data-pg="3">3</a>
                        <a href="#4^10" data-pg="4">4</a>
                        <a href="#5^10" data-pg="5">5</a>
                        <a href="#6^10" data-pg="6">6</a>
                        <a href="#7^10" data-pg="7">7</a>
                        <a href="#8^10" data-pg="8">8</a>
                        <a href="#9^10" data-pg="9">9</a>
                        <a class="next" alt="다음페이지">다음</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 푸터영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_footer`, {}); %>
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_layers`, {}); %>
        <!-- 푸터영역 끝 -->
    </div>
    <script src="<%= process.env.BASE_PATH; %>/scripts/compass/compass<%= process.env.MINIFY %>.js<%= `?${setTimestamp()}`; %>"
            defer></script>
</body>
</html>
