---
group: compass
state:
    default: 국제통용 발자국 검증제도
---
<!DOCTYPE html>
<html lang="ko">
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_constants`, {}); %>
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_head`, {}); %>
<body>
    <div class="wrap">
        <!-- 상단메뉴영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_header`, {}); %>
        <!--모바일 MENUAREA-->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_mobileHeader`, {}); %>
        <div class="totladim" style="display: none; opacity: 0.8;"></div>
        <!-- 상단메뉴영역 끝 -->
        <div class="container">
            <!-- 타이틀영역 시작 -->
            <div class="sub-visual7">
                <div class="inner7">
                    <h2><%= pageTitle %></h2>
                    <div class="print-box">
                        <!-- <button><img src="<%= path.images %>/image/site/link.svg"></button> -->
                    </div>
                </div>
            </div>
            <!-- 타이틀영역 끝 -->
            <div class="inner sub-contents-box">
                <!-- 왼쪽메뉴영역 시작 -->
                <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_leftNav`, {}); %>
                <!-- 왼쪽메뉴영역 끝 -->
                <div class="sub-contents">
                    <div class="right-fixed">
                        <div class="right-top">
                            <a href=""><span>TOP</span></a>
                        </div>
                    </div>
                    <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_breadCrum`, {
                        depth1: pageTitle,
                    }); %>
                    <div class="lci_area mt-30">
                        <h3><%= pageTitle %></h3>
                    </div>

                    <strong class="a11y">국제통용 발자국 검증제도란 언어 선택</strong>
                    <ul class="lcidb-languages">
                        <li class="lang current">
                            <a href="#" title="한국어 바로가기">KOREAN</a>
                        </li>
                        <li class="lang">
                            <a href="#" title="영문 바로가기">ENGLISH</a>
                        </li>
                    </ul>

                    <div class="lcidb-visual">
                        <strong class="visual-title">국제통용 발자국 <b>검증제도</b></strong>
                        <p class="visual-description">
                            하나의 검증에서 전 세계적인 인정까지 다양한 채널 통합<br>
                            단 한번의 검증으로 글로벌 시장에서 받아들여지는 IPEF 제도</p>
                        <ul class="lcidb-links">
                            <li class="lcidb-link">
                                <a href="#" title="국제통용 발자국 검증제도란 바로가기">
                                    <strong class="link-title">국제통용 발자국 검증제도란?</strong>
                                    <p class="link-description">단 한번의 검증으로 전 세계 시장에서 통용되는
                                        <br>국제통용발자국 검증제도 입니다.
                                    </p>
                                </a>
                            </li>
                            <li class="lcidb-link">
                                <a href="#" title="문서공개 바로가기">
                                    <strong class="link-title">문서공개</strong>
                                    <p class="link-description">단 한번의 검증으로 전 세계 시장에서 통용되는
                                        <br>국제통용발자국 검증제도 입니다.
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="lcidb-information">
                        <div class="lcidb-notice">
                            <strong class="title">
                                <a href="#" title="공지사항 바로가기">공지사항</a>
                            </strong>

                            <div class="monthly-notice">
                                <strong class="month">6월</strong>
                                <a href="#" title="${공지사항 제목} 바로가기">${공지사항 제목}</a>
                            </div>

                            <ul class="lately-notice">
                                <li class="item">
                                    <a href="#" title="${공지사항 제목} 바로가기">
                                        <strong class="notice-title">${공지사항 제목}</strong>
                                        <span class="notice-date">2025-01-01</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" title="${공지사항 제목} 바로가기">
                                        <strong class="notice-title">${공지사항 제목} ${공지사항 제목} ${공지사항 제목} ${공지사항 제목} ${공지사항 제목} ${공지사항 제목} ${공지사항 제목} ${공지사항 제목} ${공지사항 제목} ${공지사항 제목}</strong>
                                        <span class="notice-date">2025-01-01</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" title="${공지사항 제목} 바로가기">
                                        <strong class="notice-title">${공지사항 제목}</strong>
                                        <span class="notice-date">2025-01-01</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" title="${공지사항 제목} 바로가기">
                                        <strong class="notice-title">${공지사항 제목} ${공지사항 제목}</strong>
                                        <span class="notice-date">2025-01-01</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="#" title="${공지사항 제목} 바로가기">
                                        <strong class="notice-title">${공지사항 제목}</strong>
                                        <span class="notice-date">2025-01-01</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="lcidb-schedule">
                            <strong class="title">
                                <a href="#" title="주요일정 바로가기">주요일정</a>
                            </strong>
                            <a href="#" class="schedule-link" title="국제통용 발자국 검증제도 국제일정 일정표 바로가기">
                                <strong class="schedule-description">발자국 검증제도의
                                    <br>국제 일정을 일정표로
                                    <br>확인해보세요</strong>
                                <span class="round">자세히보기</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 푸터영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_footer`, {}); %>
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_layers`, {}); %>
        <!-- 푸터영역 끝 -->
    </div>
</body>
</html>
