---
group: compass
state:
    default: 검증기관신청
---
<!DOCTYPE html>
<html lang="ko">
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_constants`, {}); %>
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_head`, {}); %>
<body>
    <div class="wrap">
        <!-- 상단메뉴영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_header`, {}); %>
        <!--모바일 MENUAREA-->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_mobileHeader`, {}); %>
        <div class="totladim"
             style="display: none; opacity: 0.8;"></div>
        <!-- 상단메뉴영역 끝 -->
        <div class="container">
            <!-- 타이틀영역 시작 -->
            <div class="sub-visual7">
                <div class="inner7">
                    <h2><%= pageTitle %></h2>
                    <div class="print-box">
                        <!-- <button><img src="<%= path.images %>/image/site/link.svg"></button> -->
                    </div>
                </div>
            </div>
            <!-- 타이틀영역 끝 -->
            <div class="inner sub-contents-box">
                <!-- 왼쪽메뉴영역 시작 -->
                <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_leftNav`, {
                currentIndex: 2
                }); %>
                <!-- 왼쪽메뉴영역 끝 -->
                <div class="sub-contents">
                    <div class="right-fixed">
                        <div class="right-top">
                            <a href=""><span>TOP</span></a>
                        </div>
                    </div>
                    <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_breadCrum`, {
                    depth1: '국제통용 발자국 검증제도',
                    depth2: 'IPEF등록',
                    depth3: pageTitle,
                    }); %>
                    <div class="lci_area mt-30">
                        <h3><%= pageTitle %></h3>
                    </div>
                    <div class="form-design">
                        <div class="notice">
                            <strong class="print">
                                <span>도안사용신청시에 입력, 신청인 인증을 하고 신청기관장 직인을 위해서 출력 및 신청기관장 직인한 문서 이미지를 업로드 제출하여주세요.</span>
                                <button type="button"
                                        class="button-print"><span class="a11y">출력하기</span></button>
                            </strong>
                        </div>
                        <form action="">
                            <strong class="form-title">검증기관 승인 신청서</strong>
                            <%
                            const forms = [
                                {
                                    title: '신청<br>기관',
                                    items: [
                                        {
                                            title: '① 기관명',
                                            id   : 'organ',
                                        },
                                        {
                                            items: [
                                                {
                                                    title: '② 대표자',
                                                    id   : 'representative'
                                                },
                                                {
                                                    title: '③법인등록번호',
                                                    id   : 'corporation-number'
                                                }
                                            ]
                                        },
                                        {
                                            items: [
                                                {
                                                    title: '④ 주 소',
                                                    id   : 'address'
                                                },
                                                {
                                                    title: '⑤연 락 처',
                                                    id   : 'contact'
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    title: '⑥ 실무담당자',
                                    items: [
                                        {
                                            title: '성명',
                                            id   : 'name'
                                        },
                                        {
                                            title: '연락처(이메일)',
                                            id   : 'mail'
                                        }
                                    ]
                                },
                                {
                                    items: [
                                        {
                                            title: '⑦ 인정일자',
                                            id   : 'admit-date'
                                        },
                                        {
                                            title: '⑧인정번호',
                                            id   : 'admit-number'
                                        }
                                    ]
                                },
                                {
                                    items: [
                                        {
                                            title: '⑨ 인정기구명',
                                            id   : 'admin-name'
                                        }
                                    ]
                                },
                            ];
                            %>
                            <ul class="form-docs">
                                <% forms.forEach((form) => { %>
                                    <li>
                                        <% if (form.title) { %>
                                            <strong><%- form.title; %></strong>
                                        <% } %>
                                        <div class="inputs">
                                            <% if (form.items) {
                                            form.items.forEach((item) => { %>
                                                <% if (!item.items) { %>
                                                    <div class="column">
                                                        <label for="form-<%= item.id; %>"
                                                               class="input-title"><%= item.title; %></label>
                                                        <input type="text"
                                                               id="form-<%= item.id; %>">
                                                    </div>
                                                <% } %>
                                                <% if (item.items) { %>
                                                    <div class="column">
                                                        <% item.items.forEach((subItem) => { %>
                                                            <label for="form-<%= subItem.id; %>"
                                                                   class="input-title"><%= subItem.title; %></label>
                                                            <input type="text"
                                                                   id="form-<%= subItem.id; %>">
                                                        <% }); %>
                                                    </div>
                                                <% } %>
                                            <% });
                                            } %>
                                        </div>
                                    </li>
                                <% }) %>
                                <li>
                                    <strong>⑩인정범위</strong>
                                    <div class="inputs">
                                        <div class="column">
                                            <label for="carbon-footprint">
                                                [탄소발자국]
                                            </label>
                                            <input type="radio"
                                                   id="carbon-footprint"
                                                   name="footprint"
                                                   checked>
                                            <label for="carbon-footprint">ISO 14067</label>
                                        </div>
                                        <div class="column">
                                            <label for="water-footprint">
                                                [물발자국]
                                            </label>
                                            <input type="radio"
                                                   id="water-footprint"
                                                   name="footprint">
                                            <label for="water-footprint">ISO 14066</label>
                                        </div>
                                    </div>
                                    <div class="inputs">
                                        <strong>⑪ 적합성평가<br>활동 유형</strong>
                                        <div class="inputs">
                                            <div class="column">
                                                <input type="radio"
                                                       id="type-1"
                                                       name="type"
                                                       checked>
                                                <label for="type-1">제1자, 제2자</label>
                                            </div>
                                            <div class="column">
                                                <input type="radio"
                                                       id="type-2"
                                                       name="type">
                                                <label for="type-2">제3자</label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_organApply`, {}); %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 푸터영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_footer`, {}); %>
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_layers`, {}); %>
        <!-- 푸터영역 끝 -->
    </div>
    <script src="<%= process.env.BASE_PATH; %>/scripts/compass/compass<%= process.env.MINIFY %>.js<%= `?${setTimestamp()}`; %>"
            defer></script>
</body>
</html>
