---
group: compass
state:
    default: 제도 운영기관
---
<!DOCTYPE html>
<html lang="ko">
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_constants`, {}); %>
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_head`, {}); %>
<body>
    <div class="wrap">
        <!-- 상단메뉴영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_header`, {}); %>
        <!--모바일 MENUAREA-->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_mobileHeader`, {}); %>
        <div class="totladim" style="display: none; opacity: 0.8;"></div>
        <!-- 상단메뉴영역 끝 -->
        <div class="container">
            <!-- 타이틀영역 시작 -->
            <div class="sub-visual7">
                <div class="inner7">
                    <h2><%= pageTitle %></h2>
                    <div class="print-box">
                        <!-- <button><img src="<%= path.images %>/image/site/link.svg"></button> -->
                    </div>
                </div>
            </div>
            <!-- 타이틀영역 끝 -->
            <div class="inner sub-contents-box">
                <!-- 왼쪽메뉴영역 시작 -->
                <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_leftNav`, {
                    currentIndex: 0
                }); %>
                <!-- 왼쪽메뉴영역 끝 -->
                <div class="sub-contents">
                    <div class="right-fixed">
                        <div class="right-top">
                            <a href=""><span>TOP</span></a>
                        </div>
                    </div>
                    <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_breadCrum`, {
                    depth1: '국제통용 발자국 검증제도',
                    depth2: '제도소개',
                        depth3: pageTitle,
                    }); %>
                    <div class="lci_area mt-30">
                        <h3><%= pageTitle %></h3>
                    </div>

                    <div class="lcidb-about bg-kitech">
                        <strong class="about-title">한국생산기술연구원</strong>
                        <ul class="about-standards">
                            <li class="about-standard">한국생산기술연구원은 국제통용발자국 검증제도의 운영기관(Scheme Owner)으로서 제도의 원활한 운영과 활성화를 위해 한국인정기구(KOLAS)와 적극적으로 협력하고 있으며, 검증심사원 양성을 위해 검증심사원 교육 및 자격인증기관을 지정 . 관리하고 있습니다.</li>
                            <li class="about-standard">제도 운영은 한국생산기술연구원의 국가청정생산지원센터에서 담당하고 있습니다.</li>
                        </ul>
                    </div>

                    <div class="lci_area mt-30 dot">
                        <h3>기관별 운영구조</h3>
                    </div>
                    <div class="organ-structure">
                        <img src="<%= imgPath %>/organ-visual.png" alt="">
                    </div>

                    <div class="lci_area mt-30 dot">
                        <h3>기관설명</h3>
                    </div>
                    <%
                    const items = [
                        {
                            title: '국제인정포럼 (IAF: International Accreditation Forum)',
                            items: [
                                {
                                    title: '역할',
                                    desc : '전 세계 인증기관의 상호인정을 위한 국제 협의체',
                                },
                                {
                                    title: '기능',
                                    desc : '각국의 인정기관이 국제적으로 인정받을 수 있도록<br>다자간 상호인정협정(MLA)을 운영',
                                },
                                {
                                    title: '의의',
                                    desc : '국내 제도가 국제 기준에 맞는지 검증',
                                },
                            ]
                        },
                        {
                            title: 'KOLAS (Korea Laboratory Accreditation Scheme, 한국인정기구)',
                            items: [
                                {
                                    title: '역할',
                                    desc : '국내 유일의 공식 인정기관으로서 제3자 검증기관의 공신력을 인정',
                                },
                                {
                                    title: '기능',
                                    desc : [
                                        '검증기관에 대해 인정 평가 및 지정',
                                        '국제인정포럼(IAF)과의 MLA 참여로 국제 상호인정 보장',
                                    ],
                                },
                                {
                                    title: '의의',
                                    desc : '제3자 검증기관이 KOLAS에 인정 신청 → 평가 후 인정 → 검증 수행 가능',
                                },
                            ]
                        },
                        {
                            title: '제3자 검증기관',
                            items: [
                                {
                                    title: '역할',
                                    desc : '기업의 탄소발자국 등의 데이터를 검증하는 실제 실행 기관',
                                },
                                {
                                    title: '기능',
                                    desc : '시험기관, 인증기관, 분석기관 등',
                                },
                                {
                                    title: '의의',
                                    desc : ['수출기업의 검증 신청 접수', '현장심사 및 데이터 분석', '검증서(라벨) 발급'],
                                },
                            ]
                        },
                        {
                            title: '해외 탄소발자국 제도 (Scheme Owner)',
                            items: [
                                {
                                    title: '역할',
                                    desc : '국내 유일의 공식 인정기관으로서 제3자 검증기관의 공신력을 인정',
                                },
                                {
                                    title: '기능',
                                    desc : [
                                        '검증기관에 대해 인정 평가 및 지정',
                                        '국제인정포럼(IAF)과의 MLA 참여로 국제 상호인정 보장'
                                    ],
                                },
                                {
                                    title: '의의',
                                    desc : '제3자 검증기관이 KOLAS에 인정 신청 → 평가 후 인정 → 검증 수행 가능',
                                },
                            ]
                        },
                        {
                            title: '수출기업',
                            items: [
                                {
                                    title: '역할',
                                    desc : '전 세계 인증기관의 상호인정을 위한 국제 협의체',
                                },
                                {
                                    title: '기능',
                                    desc : '각국의 인정기관이 국제적으로 인정받을 수 있도록<br>다자간 상호인정협정(MLA)을 운영',
                                },
                                {
                                    title: '의의',
                                    desc : '국내 제도가 국제 기준에 맞는지 검증',
                                },
                            ]
                        },
                        {
                            title: '한국생산기술연구원 (국가청정생산지원센터, Scheme Owner)',
                            items: [
                                {
                                    title: '역할',
                                    desc : '국내 유일의 공식 인정기관으로서 제3자 검증기관의 공신력을 인정',
                                },
                                {
                                    title: '기능',
                                    desc : [
                                        '검증기관에 대해 인정 평가 및 지정',
                                        '국제인정포럼(IAF)과의 MLA 참여로 국제 상호인정 보장',
                                    ],
                                },
                                {
                                    title: '의의',
                                    desc : '제3자 검증기관이 KOLAS에 인정 신청 → 평가 후 인정 → 검증 수행 가능',
                                },
                            ]
                        },
                        {
                            title: '교육/자격인증기관 (제3자 기관)',
                            items: [
                                {
                                    title: '역할',
                                    desc : '기업의 탄소발자국 등의 데이터를 검증하는 실제 실행 기관',
                                },
                                {
                                    title: '기능',
                                    desc : '시험기관, 인증기관, 분석기관 등',
                                },
                                {
                                    title: '의의',
                                    desc : [
                                        '수출기업의 검증 신청 접수',
                                        '현장심사 및 데이터 분석',
                                        '검증서(라벨) 발급',
                                    ],
                                },
                            ]
                        },
                    ];
                    %>
                    <div class="organ-about">
                        <% items.forEach((item) => { %>
                        <dl class="organ-items">
                            <dt><%= item.title %></dt>
                            <% item.items.forEach((sub) => { %>
                                <dd>
                                    <strong class="organ-title"><%= sub.title %></strong>
                                    <% if (typeof sub.desc === 'object') { %>
                                        <ul class="organ-descriptions">
                                            <% sub.desc.forEach((desc) => { %>
                                                <li class="organ-description"><%= desc %></li>
                                            <% }); %>
                                        </ul>
                                    <% } %>
                                    <% if (typeof sub.desc !== 'object') { %>
                                        <p class="organ-description"><%- sub.desc %></p>
                                    <% } %>
                                </dd>
                            <% }); %>
                        </dl>
                        <% });%>
                    </div>

                    <div class="lci_area mt-30 dot">
                        <h3>용어설명</h3>
                    </div>
                    <%

                    const titles = [
                        '약어',
                        '풀어쓰기',
                        '의미'
                    ];

                    const terminology = [
                        {
                            title: 'IAF',
                            desc: 'International Accreditation Forum',
                            mean: '국제인정포럼, 각국 인증기관 간 상호인정 협의체'
                        },
                        {
                            title: 'MLA',
                            desc: 'Multilateral Recognition Arrangement',
                            mean: '다자간 상호인정협정'
                        },
                        {
                            title: 'MRA',
                            desc: 'Mutual Recognition Agreement',
                            mean: '상호인정협정 (양자간 또는 복수국간)'
                        },
                        {
                            title: 'MOU',
                            desc: 'Memorandum of Understanding',
                            mean: '업무협약'
                        },
                        {
                            title: 'KOLAS',
                            desc: 'Korea Laboratory Accreditation Scheme',
                            mean: '한국인정기구, 국내 유일 인정기관'
                        },
                        {
                            title: 'Scheme Owner',
                            desc: '제도 운영 주체',
                            mean: '한 국가 또는 기관이 운영하는 제도의 총괄책임자'
                        } ,
                    ];
                    %>
                    <table class="table-terminology">
                        <colgroup>
                            <col width="20%">
                            <col width="30%">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <% titles.forEach((title) => { %>
                                <th><%= title %></th>
                            <% }); %>
                        </tr>
                        <% terminology.forEach((ter) => { %>
                            <tr>
                                <td><%= ter.title %></td>
                                <td><%= ter.desc %></td>
                                <td><%= ter.mean %></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                    <dl class="terminology-items">
                            <dd>
                            </dd>
                    </dl>
                </div>


            </div>
        </div>
        <!-- 푸터영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_footer`, {}); %>
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_layers`, {}); %>
        <!-- 푸터영역 끝 -->
    </div>
</body>
</html>
