---
group: compass
state:
    default: 검증기관신청
---
<!DOCTYPE html>
<html lang="ko">
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_constants`, {}); %>
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_head`, {}); %>
<body>
    <div class="wrap">
        <!-- 상단메뉴영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_header`, {}); %>
        <!--모바일 MENUAREA-->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_mobileHeader`, {}); %>
        <div class="totladim" style="display: none; opacity: 0.8;"></div>
        <!-- 상단메뉴영역 끝 -->
        <div class="container">
            <!-- 타이틀영역 시작 -->
            <div class="sub-visual7">
                <div class="inner7">
                    <h2><%= pageTitle %></h2>
                    <div class="print-box">
                        <!-- <button><img src="<%= path.images %>/image/site/link.svg"></button> -->
                    </div>
                </div>
            </div>
            <!-- 타이틀영역 끝 -->
            <div class="inner sub-contents-box">
                <!-- 왼쪽메뉴영역 시작 -->
                <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_leftNav`, {
                    currentIndex: 2
                }); %>
                <!-- 왼쪽메뉴영역 끝 -->
                <div class="sub-contents">
                    <div class="right-fixed">
                        <div class="right-top">
                            <a href=""><span>TOP</span></a>
                        </div>
                    </div>
                    <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_breadCrum`, {
                        depth1: '국제통용 발자국 검증제도',
                        depth2: 'IPEF등록',
                        depth3: pageTitle,
                    }); %>
                    <div class="lci_area mt-30">
                        <h3><%= pageTitle %></h3>
                    </div>

                    <div class="lci_area mt-30 dot">
                        <h3>검증기관 승인 신청 절차</h3>
                    </div>
                    <div class="organ-structure">
                        <img src="<%= imgPath %>/organ.png" alt="">
                    </div>

                    <div class="link-apply-wrap">
                        <a href="#" class="link-apply" title="검증기관 승인 신청 바로가기">검증기관 승인 신청</a>
                    </div>
                </div>


            </div>
        </div>
        <!-- 푸터영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_footer`, {}); %>
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_layers`, {}); %>
        <!-- 푸터영역 끝 -->
    </div>
    <script src="<%= process.env.BASE_PATH; %>/scripts/compass/compass<%= process.env.MINIFY %>.js<%= `?${setTimestamp()}`; %>"
            defer></script>
</body>
</html>
