---
group: compass
state:
    default: 주요일정
---
<!DOCTYPE html>
<html lang="ko">
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_constants`, {}); %>
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_head`, {}); %>
<body>
    <div class="wrap">
        <!-- 상단메뉴영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_header`, {}); %>
        <!--모바일 MENUAREA-->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_mobileHeader`, {}); %>
        <div class="totladim" style="display: none; opacity: 0.8;"></div>
        <!-- 상단메뉴영역 끝 -->
        <div class="container">
            <!-- 타이틀영역 시작 -->
            <div class="sub-visual7">
                <div class="inner7">
                    <h2><%= pageTitle %></h2>
                    <div class="print-box">
                        <!-- <button><img src="<%= path.images %>/image/site/link.svg"></button> -->
                    </div>
                </div>
            </div>
            <!-- 타이틀영역 끝 -->
            <div class="inner sub-contents-box">
                <!-- 왼쪽메뉴영역 시작 -->
                <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_leftNav`, {
                currentIndex: 1
                }); %>
                <!-- 왼쪽메뉴영역 끝 -->
                <div class="sub-contents">
                    <div class="right-fixed">
                        <div class="right-top">
                            <a href=""><span>TOP</span></a>
                        </div>
                    </div>
                    <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_breadCrum`, {
                    depth1: '국제통용 발자국 검증제도',
                    depth2: '정보공개',
                    depth3: pageTitle,
                    }); %>
                    <div class="lci_area mt-30">
                        <h3><%= pageTitle %></h3>
                    </div>
                    <label class="select-year">
                        <select>
                            <% for(let i = 2025; i > 2000; i--) { %>
                                <option><%= i %></option>
                            <% } %>
                        </select>
                    </label>
                    <div class="schedule-box">
                        <table class="schedule-tbl">
                            <colgroup>
                                <col width="33.3%">
                                <col width="33.3%">
                                <col width="33.3%">
                            </colgroup>
                            <tbody>
                            <tr class="sch-tbl-hd">
                                <td colspan="3"><span class="year-txt">2025</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="01">1월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="02">2월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="03">3월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="04">4월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="05">5월</span>
                                    </div>
                                    <div class="sch-cnt">
                                        <span class="pointer"
                                              onclick="main.proc.conversionToTab(_$(this));">
                                            <label class="comp-icon">□</label>사업공고(1)
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="06">6월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="07">7월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="08">8월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="09">9월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="10">10월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="11">11월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                                <td>
                                    <div class="month-box">
                                        <span class="month-txt" data-month="12">12월</span>
                                    </div>
                                    <div class="sch-cnt"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 푸터영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_footer`, {}); %>
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_layers`, {}); %>
        <!-- 푸터영역 끝 -->
    </div>
    <script src="<%= process.env.BASE_PATH; %>/scripts/compass/compass<%= process.env.MINIFY %>.js<%= `?${setTimestamp()}`; %>"
            defer></script>
</body>
</html>
