---
group: compass
state:
    default: 검증기준
---
<!DOCTYPE html>
<html lang="ko">
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_constants`, {}); %>
<%- include(`${process.env.INCLUDE_PATH}/compass/partials/_head`, {}); %>
<body>
    <div class="wrap">
        <!-- 상단메뉴영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_header`, {}); %>
        <!--모바일 MENUAREA-->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_mobileHeader`, {}); %>
        <div class="totladim" style="display: none; opacity: 0.8;"></div>
        <!-- 상단메뉴영역 끝 -->
        <div class="container">
            <!-- 타이틀영역 시작 -->
            <div class="sub-visual7">
                <div class="inner7">
                    <h2><%= pageTitle %></h2>
                    <div class="print-box">
                        <!-- <button><img src="<%= path.images %>/image/site/link.svg"></button> -->
                    </div>
                </div>
            </div>
            <!-- 타이틀영역 끝 -->
            <div class="inner sub-contents-box">
                <!-- 왼쪽메뉴영역 시작 -->
                <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_leftNav`, {
                    currentIndex: 0
                }); %>
                <!-- 왼쪽메뉴영역 끝 -->
                <div class="sub-contents">
                    <div class="right-fixed">
                        <div class="right-top">
                            <a href=""><span>TOP</span></a>
                        </div>
                    </div>
                    <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_breadCrum`, {
                        depth1: '국제통용 발자국 검증제도',
                        depth2: '제도소개',
                        depth3: pageTitle,
                    }); %>
                    <div class="lci_area mt-30">
                        <h3><%= pageTitle %></h3>
                    </div>

                    <div class="lcidb-about">
                        <strong class="about-title">검증기준이란?</strong>
                        <ul class="about-standards">
                            <li class="about-standard">국제통용 발자국 검증제도는 국제표준(ISO)와 범용표준(PAS)를 비롯하여 국제적으로 수요가 높은 해외 제도의 검증기준(PCR 포함)을 제도의 검증기준으로 활용하고 있습니다.</li>
                            <li class="about-standard">이는 검증을 획득하고자 하는 기업이 실제 필요한 검증기준을 그대로 활용할 수 있어 수출규제 또는 글로벌 고객사의 요구에 신속한 대응이 가능합니다.</li>
                        </ul>
                    </div>

                    <ul class="standards">
                        <li class="standard-item">
                            <strong class="title">PAS 2050:2011</strong>
                            <ul class="standard-items">
                                <li>제품 및 서비스의 전체 생애주기(Life Cycle)에서 발생하는 온실가스 배출량을 정량화</li>
                                <li>비교 가능하고 일관성 있는 CFP 산정 기준 제공</li>
                                <li>Carbon Trust와 Defra(영국환경식품농촌부)후원 BSI가 제정, 제품 전과정 온실가스 배출량을 파악하기 위한 산정, 정보 공개, 보고 등에 관한 기준제시</li>
                                <li>PAS 2050:2011은 영국표준협회(BSI, British Standards Institution)에서 발행한 제품 및 서비스의 탄소발자국(Carbon Footprint of Products, CFP)을 평가하기 위한 공식 사양서(Specification)입니다.</li>
                                <li>이는 ISO 14067이 개발되기 이전에 가장 널리 사용되던 탄소발자국 산정 지침 중 하나입니다.</li>
                            </ul>
                        </li>
                        <li class="standard-item">
                            <strong class="title">ISO 14046:2014</strong>
                            <ul class="standard-items">
                                <li>국제표준협회(ISO)에서 국제적으로 통용될 수 있는 물발자국 (Water Footprint) 산정에 대한 원칙, 요구사항 및 지침 등에 관한 기준 제시</li>
                                <li>ISO 14046:2014는 제품, 공정 또는 조직의 물 발자국(Water Footprint)을 평가하기 위한 국제 표준입니다.</li>
                                <li>이는 생애주기평가(LCA)의 원칙에 따라 물 사용으로 인한 환경 영향을 정량화하고 평가하는 기준을 제공합니다.</li>
                            </ul>
                        </li>
                        <li class="standard-item">
                            <strong class="title">ISO 14046:2014</strong>
                            <ul class="standard-items">
                                <li>온실 가스 - 제품의 탄소 발자국 - 정량화를 위한 요구 사항 및 지침</li>
                                <li>국제표준협회(ISO)에서 국제적으로 통용될 수 있는 제품 탄소발자국에 대한 산정 및 정보 제공, 보고 등에 관한 기준 제시</li>
                                <li>ISO 14067:2018은 "온실가스 – 제품 탄소발자국의 정량화 및 보고 요구사항(Carbon Footprint of Products – Requirements and guidelines for quantification)"에 대한 국제 표준입니다.</li>
                                <li>이 표준은 제품의 탄소발자국(CFP, Carbon Footprint of Product)을 일관성 있고 투명하게 평가하고 보고하기 위한 지침을 제공합니다.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 푸터영역 시작 -->
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_footer`, {}); %>
        <%- include(`${process.env.INCLUDE_PATH}/compass/partials/_layers`, {}); %>
        <!-- 푸터영역 끝 -->
    </div>
</body>
</html>
