---
group: example
state:
    default: 예제
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include(`${process.env.INCLUDE_PATH}/components/_head`, {
        title: 'example'
    }); %>
    <link rel="stylesheet"
          href="<%= process.env.BASE_PATH %>/styles/example/example<%= process.env.MINIFY %>.css<%= `?${setTimestamp()}`; %>">
</head>
<body>
    <div style="padding: 100px; border: 1px solid #333; display: flex; align-items: center; justify-content: center;">
        <h1>EXAMPLE</h1>
    </div>
    <script src="<%= process.env.BASE_PATH; %>/scripts/example/example<%= process.env.MINIFY %>.js<%= `?${setTimestamp()}`; %>"
            type="module"
            defer></script>
</body>
</html>