<div class="content"
     id="container">
    <div class="sub_wrap type1">
        <div class="inner">
            <div class="sub_top bg2">
                <h2 class="sub_tit">아동언제나돌봄 서비스 안내</h2>
            </div>
            <div class="sub_con">
                <div class="max_1520">
                    <div class="page_tab_btn_area">
                        <a href="/always360/content.do?key=2409110002">서비스 유형</a>
                        <a class="active"
                           href="#"
                           title="선택됨">신청방법 및 이용절차
                        </a>
                    </div>
                    <div class="flex_box">
                        <p class="step_list_tit">신청방법 및 이용절차</p>
                        <div class="page_tab_con">
                            <ul class="step_list">
                                <li>
                                    <p class="step_round">
                                        <img alt=""
                                             src="<%= imgPath %>/icon/bull_step_mark01.png">
                                    </p>
                                    <dl>
                                        <dt>step 1</dt>
                                        <dd>회원가입</dd>
                                    </dl>
                                </li>
                                <li>
                                    <p class="step_round">
                                        <img alt=""
                                             src="<%= imgPath %>/icon/bull_step_mark01.png">
                                    </p>
                                    <dl>
                                        <dt>step 2</dt>
                                        <dd>사전아동등록 신청</dd>
                                    </dl>
                                </li>
                                <li>
                                    <p class="step_round">
                                        <img alt=""
                                             src="<%= imgPath %>/icon/bull_step_mark02.png">
                                    </p>
                                    <dl>
                                        <dt>step 3</dt>
                                        <dd>콜센터 및 홈페이지 돌봄서비스 신청</dd>
                                    </dl>
                                </li>
                                <li>
                                    <p class="step_round">
                                        <img alt=""
                                             src="<%= imgPath %>/icon/bull_step_mark03.png">
                                    </p>
                                    <dl>
                                        <dt>step 4</dt>
                                        <dd>신청 유형별 해당 서비스 매칭</dd>
                                    </dl>
                                </li>
                                <li>
                                    <p class="step_round">
                                        <img alt=""
                                             src="<%= imgPath %>/icon/bull_step_mark04.png">
                                    </p>
                                    <dl>
                                        <dt>step 5</dt>
                                        <dd>서비스 비용 입금</dd>
                                    </dl>
                                </li>
                                <li>
                                    <p class="step_round">
                                        <img alt=""
                                             src="<%= imgPath %>/icon/bull_step_mark05.png">
                                    </p>
                                    <dl>
                                        <dt>step 6</dt>
                                        <dd>서비스 제공</dd>
                                    </dl>
                                </li>
                                <li>
                                    <p class="step_round">
                                        <img alt=""
                                             src="<%= imgPath %>/icon/bull_step_mark06.png">
                                    </p>
                                    <dl>
                                        <dt>step 7</dt>
                                        <dd>만족도 조사 및 사후관리</dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex_box">
                        <p class="step_list_tit">사전등록 신청 안내</p>
                        <div>
                            <ul class="step_list_ul">
                                <li>사전아동등록은 언제나돌봄 플랫폼 홈페이지 또는 거주지 인근 다함께돌봄센터·지역아동센터에서 보호자가 직접 신청해야 합니다.</li>
                                <li>안전사고 예방을 위해 사전아동등록 이전에는 서비스 이용이 제한될 수 있습니다.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex_box">
                        <p class="step_list_tit">사전 신청 절차 및 필요서류</p>
                        <div class="step_list_box_wrap">
                            <div class="step_list_box">
                                <div class="step_list_box_tit">언제나돌봄 <span> 홈페이지</span></div>
                                <div class="step_list_box_con">
                                    <ul>
                                        <li>플랫폼 회원가입</li>
                                        <li>온라인 사전아동등록 신청</li>
                                        <li>비대면 미 인증시 가족관계확인 서류 첨부(별도안내)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="step_list_box type02">
                                <div class="step_list_box_tit">직접방문</div>
                                <div class="step_list_box_con">
                                    <ul>
                                        <li>2025년 언제나돌봄서비스 이용 사전등록 신청서</li>
                                        <li>언제나돌봄서비스 제공신청 및 <span>개인정보수집 및 이용 동의서</span></li>
                                        <li>언제나돌봄서비스 이용동의서</li>
                                        <li>가족관계확인서류<span> (주민등록증, 가족관계증명서류 등) <span class="red">* 방문신청 (신분증 지참)</span> </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="double_btn_wrap">
                        <a href="/always360/childcare/rsvtForm.do?key=2411190006"><span class="bull_left_mark"></span>온라인<br>
                            사전등록하기
                        </a>
                        <a class="type02"
                           href="/always360/childcareMap/search.do?key=2401020011"><span class="bull_left_mark"></span>아동돌봄지도<br>
                            바로가기
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>