<div class="header">
    <!--gnb-->
    <div id="menu">
        <ul>
            <li>
                <a href="/news/list" class="oneDep">종합정보망</a>
                <div class="twoDep one">
                    <div class="twoDep_in pd-l140">
                        <dl>
                            <dt>
                                <span>환경규제정보</span>
                            </dt>
                            <dd>
                                <a href="/news/list">최신뉴스</a>
                            </dd>
                            <dd>
                                <a href="/analysisReport/list">분석보고서</a>
                            </dd>
                            <dd>
                                <a href="/regulation/list">국제환경규제</a>
                            </dd>
                            <dd>
                                <a href="/agreement/list">국제환경협약</a>
                            </dd>
                            <dd>
                                <a href="/legislation/list">법률전문보기</a>
                            </dd>
                            <!-- <dd>
                                <a href="/reportOffer/list">모니터링 정보제안</a>
                            </dd>
                            <dd>
                                <a href="/case/list">환경제재사례</a>
                            </dd>-->
                        </dl>
                        <dl>
                            <dt>
                                <span>규제물질정보</span>
                            </dt>
                            <dd>
                                <a href="/reachSvhc/list">EU REACH SVHC후보물질</a>
                            </dd>
                            <dd>
                                <a href="/reachPermission/list">EU REACH 허가물질/제한물질</a>
                            </dd>
                            <dd>
                                <a href="/euRohs/list">EU RoHS 예외조항 부속서 III/IV</a>
                            </dd>
                            <!-- <dd>
                                <a href="/euRohsMedical/list">EU RoHS 예외조항 부속서 IVReference</a>
                            </dd> -->
                            <!-- <dd>
                                <a href="/reach/list">등록(사전등록)대상여부 확인</a>
                            </dd> -->
                        </dl>
                        <!--<dl>
                            <dt class="pl-70">
                                <a href="/book/list">출판물</a>
                            </dt>
                        </dl>-->
                        <dl class="pl-70">
                            <dt>
                                <span>정보아카이브</span>
                            </dt>
                            <dd>
                                <a href="/eduLibrary/list">자료실</a>
                            </dd>
                            <dd>
                                <a href="/book/list">출판물</a>
                            </dd>
                            <dd>
                                <a href="/video/list">영상자료</a>
                            </dd>
                        </dl>
                        <!-- <dl>
                            <dt>
                                <a href="#">뉴스레터</a>
                            </dt>
                        </dl> -->
                        <dl class="pl-40">
                            <dt>
                                <span>전문기관정보</span>
                            </dt>
                            <dd>
                                <a href="/inside/list">국내전문기관 정보</a>
                            </dd>
                            <dd>
                                <a href="/outside/list">해외전문기관 정보</a>
                            </dd>
                            <dd>
                                <a href="/representative/list">전문기관 신청</a>
                            </dd>
                        </dl>
                        <dl class="pl-40">
                            <dt class="">
                                <a href="/reportOffer/list">모니터링 정보제안</a>
                            </dt>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <a href="/online/tel" class="oneDep">상담지원</a>
                <div class="twoDep one">
                    <div class="twoDep_in pd-l176">
                        <dl>
                            <dt>
                                <a href="/online/tel">전화상담</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/online/list">온라인 상담</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/visit/start">센터방문상담</a>
                            </dt>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <a href="/major/schedule/list" class="oneDep">알림마당</a>
                <div class="twoDep one">
                    <div class="twoDep_in pd-l300">
                        <dl>
                            <dt>
                                <a href="/major/schedule/list">주요일정</span>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/notice/list">공지사항</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/academy/list">행사/교육 신청</span>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/poll/list">설문조사</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/faq/list">FAQ</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/qna/list">Q&A</a>
                            </dt>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <a href="/lcidb/infor" class="oneDep">국제통용 발자국 검증제도</a>
                <div class="twoDep one">
                    <%
                    const menu = [
                        {
                            title: '제도소개', url: 'intro',
                            items: [
                                {title: '국제통용발자국 검증제도란', url: ''},
                                {title: '제도 운영기관', url: ''},
                                {title: '검증기준', url: ''},
                                {title: '검증기관정보', url: ''},
                                {title: '협력기관', url: ''},
                            ]
                        },
                        {
                            title: '정보공개', url: 'info',
                            items: [
                                {title: '주요일정', url: ''},
                                {title: '문서공개', url: ''},
                                {title: '제품범주규칙(PCR)', url: ''},
                            ]
                        },
                        {
                            title: 'IPEF등록', url: 'IPEF',
                            items: [
                                {title: '도안신청', url: ''},
                                {title: '검증기관신청', url: ''},
                                {title: '검증제품', url: ''},
                            ]
                        },
                        {
                            title: '게시판', url: '',
                            items: [
                                {title: '공지사항', url: ''},
                                {title: '자료실', url: ''},
                                {title: '문의사항', url: ''},
                            ]
                        },
                    ];
                    %>
                    <div class="twoDep_in pd-l670">
                        <% menu.forEach((item) => { %>
                            <dl>
                                <dt>
                                    <span><%= item.title %></span>
                                </dt>
                                <% item.items.forEach((sub) => { %>
                                    <dd>
                                        <a href="/lcidb/<%= item.url %>/<%= sub.url %>"><%= sub.title %></a>
                                    </dd>
                                <% }) %>
                            </dl>
                        <% }) %>
                    </div>
                </div>
            </li>
            <li>
                <a href="/eucbam/introduce/outline" class="oneDep">EU CBAM 헬프데스크</a>
                <div class="twoDep one">
                    <div class="twoDep_in pd-l670">
                        <dl>
                            <dt>
                                <span>EU CBAM 소개</span>
                            </dt>
                            <dd>
                                <a href="/eucbam/introduce/outline">개요</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/introduce/apply">적용범위</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/introduce/period">기간별 의무사항</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/introduce/react">수출타입별 대응방안</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/introduce/verification">검증</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/introduce/faq/cfaq">FAQ</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <span>게시판</span>
                            </dt>
                            <dd>
                                <a href="/eucbam/schedule/list">주요일정</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/data/list">자료실</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/euvideo/list">영상자료</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <span>상담지원</span>
                            </dt>
                            <dd>
                                <a href="/eucbam/counsel/tel">전화상담</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/counsel/online/oncon">온라인상담</a>
                            </dd>
                            <dd>
                                <a href="/eucbam/counsel/visit/list">센터방문상담</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
            <li>
                <a href="/introduce/list" class="oneDep">센터 소개</a>
                <div class="twoDep one">
                    <div class="twoDep_in pd-l750">
                        <dl>
                            <dt>
                                <a href="/introduce/list">COMPASS란</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/introduce/work">주요업무</a>
                            </dt>
                        </dl>
                        <dl>
                            <dt>
                                <a href="/introduce/map">오시는길</a>
                            </dt>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="inner gnb-sbox">
        <a href="/user/login">로그인</a>
        <a href="/member/join">회원가입</a>
        <!-- <a href="">사이트맵</a> -->
        <a href="/introduce/list" style="display:none;">센터소개</a>
    </div>
    <div class="inner gnb-box">
        <h1>
            <a href="/">
                <img src="<%= path.images %>/image/site/logo.png"
                     alt="국제환경규제 사전대응 지원시스템">
            </a>
        </h1>
        <!-- <div class="ip-search">
            <span><input type="text" tilte="" placeholder=""></span> <a
                href="#"><img src="<%= path.images %>/image/site/btn-search.png" alt="검색"></a>
        </div> -->
        <div class="full-menu">
            <label for="modal" class="full-menu-btn">
                <img
                        src="<%= path.images %>/image/site/btn-menu.svg" alt="전체보기">
            </label> <input
                    type="checkbox" id="modal" class="modal-hidden">
            <div class="box_modal">
                <div class="full-menu-view">
                    <label for="modal" class="closer">
                        <img
                                src="<%= path.images %>/image/site/close-circle.svg" alt="닫기">
                    </label>
                    <div class="fullm-depth none">
                        <h2>
                            <span>종합정보망</span>
                        </h2>
                        <h3>
                            <span>환경규제정보</span>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/news/list">최신뉴스</a>
                            <a href="/analysisReport/list">분석보고서</a>
                            <a href="/regulation/list">국제환경규제</a>
                            <a href="/agreement/list">국제환경협약</a>
                            <a href="/legislation/list">법률전문보기</a>
                            <a href="/case/list">환경제재사례</a>
                        </div>
                        <h3>
                            <span>규제물질 정보</span>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/reachSvhc/list">EU REACH SVHC후보물질</a>
                            <a href="/reachPermission/list">EU REACH 허가물질/제한물질</a>
                            <a href="/euRohs/list">EU RoHS 예외조항 부속서 III / 부속서 IV</a>
                        </div>
                        <h3>
                            <span>정보아카이브</span>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/eduLibrary/list">자료실</a>
                            <a href="/book/list">출판물</a>
                            <a href="/video/list">영상자료</a>
                        </div>
                        <h3>
                            <a href="/organization/list">전문기관 정보</a>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/inside/list">국내전문기관 정보</a>
                            <a href="/outside/list">해외전문기관 정보</a>
                            <a href="/representative/list">전문기관 등록하기</a>
                        </div>
                        <h3>
                            <a href="/reportOffer/list">모니터링 정보제안</a>
                        </h3>
                    </div>
                    <div class="fullm-depth">
                        <h2>
                            <span>상담지원</span>
                        </h2>
                        <div class="fullm-depth3">
                            <a href="/online/tel">전화상담</a>
                            <a href="/online/list">온라인 상담</a>
                            <a href="/visit/start">센터방문상담</a>
                        </div>
                    </div>
                    <div class="fullm-depth">
                        <h2>
                            <span>알림마당 </span>
                        </h2>
                        <h3>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/major/schedule/list">주요 일정</a>
                            <a href="/notice/list">공지사항</a>
                            <a href="/academy/list">행사/교육 신청</a>
                            <a href="/poll/list">설문조사</a>
                            <a href="/faq/list">FAQ</a>
                            <a href="/qna/list">Q&A</a>
                        </div>
                        <h2 class="fullm-mypage">
                            <a>로그인</a>
                        </h2>
                        <div>
                            <a href="/user/login">로그인</a>
                            <a href="/member/join">회원가입</a>
                            <a href="/member/findId">아이디 찾기</a>
                            <a href="/member/findPassword">비밀번호 찾기</a>
                        </div>
                    </div>
                    <div class="fullm-depth">
                        <h2>
                            <span>검증제도 </span>
                        </h2>
                        <h3>
                            <span>제도소개</span>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/eucbam/introduce/outline">개요</a>
                            <a href="/eucbam/introduce/apply">적용범위</a>
                            <a href="/eucbam/introduce/period">기간별 의무사항</a>
                            <a href="/eucbam/introduce/react">수출타입별 대응방안</a>
                            <a href="/eucbam/introduce/verification">검증</a>
                            <a href="/eucbam/introduce/faq/list">FAQ</a>
                        </div>
                        <h3></h3>
                        <div class="fullm-depth3">
                            <a href="/lcidb/infor">제도소개</span>
                                <a href="/lcidb/system">운영체계</span>
                                    <a href="/lcidb/standard">검증기준</a>
                                    <a href="/lcidb/serive">검증기관 정보</a>
                                    <!--<a href="/lcidb/lciList">LCI DB</a>-->
                        </div>
                    </div>
                    <div class="fullm-depth">
                        <h2>
                            <span>EU CBAM 헬프데스크</span>
                        </h2>
                        <h3>
                            <span>EU CBAM 소개</span>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/eucbam/introduce/outline">개요</a>
                            <a href="/eucbam/introduce/apply">적용범위</a>
                            <a href="/eucbam/introduce/period">기간별 의무사항</a>
                            <a href="/eucbam/introduce/react">수출타입별 대응방안</a>
                            <a href="/eucbam/introduce/verification">검증</a>
                            <a href="/eucbam/introduce/faq/list">FAQ</a>
                        </div>
                        <h3>
                            <span>게시판</span>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/eucbam/schedule/list">주요일정</a>
                            <a href="/eucbam/data/list">자료실</a>
                            <a href="/eucbam/euvideo/list">영상자료</a>
                        </div>
                        <h3>
                            <span>상담지원</span>
                        </h3>
                        <div class="fullm-depth3">
                            <a href="/eucbam/counsel/tel">전화상담</a>
                            <a href="/eucbam/counsel/online/oncon">온라인상담</a>
                            <a href="/eucbam/counsel/visit/list">센터방문상담</a>
                        </div>
                    </div>
                    <div class="fullm-depth">
                        <h2>
                            <span>센터 소개 </span>
                        </h2>
                        <h3>
                            <span>센터 소개</span>
                        </h3>
                        <div>
                            <a href="/introduce/work">주요업무</a>
                            <a href="/introduce/map">오시는 길</a>
                            <a href="/introduce/list"> COMPASS 안내</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btnMenu_m">
            <span></span><span></span><span></span>
        </div>
    </div>
    <div class="mob_btn">
        <a href="" id="rightMenuOpenHeader"><span>모바일메뉴</span></a>
    </div>
</div>