<div id="rightMenu" class="landscape" style="">
    <div class="totalwrap" style="width: 1663px;">
        <div class="total">
            <div class="total_top"
                 style="backface-visibility: hidden; perspective: 1000px;">
                <p>전체메뉴</p>
                <a class="total_close" href="javascript:rightMenuOpen();"
                   style="backface-visibility: hidden; perspective: 1000px;">전체메뉴닫기
                </a>
            </div>
            <!-- select language : start -->
            <input type="radio"
                   id="language-ko"
                   name="language"
                   class="select-language-radio"
                   checked>
            <label for="language-ko"
                   class="select-language">KO</label>
            <input type="radio"
                   id="language-en"
                   class="select-language-radio"
                   name="language">
            <label for="language-en"
                   class="select-language">EN</label>
            <!-- select language : end -->

            <!-- selected korean : start -->
            <ul class="total_mn selected-ko">
                <li>
                    <a href="">종합정보망</a>
                </li>
                <li>
                    <a href="">상담지원</a>
                </li>
                <li>
                    <a href="">알림마당</a>
                </li>
                <li>
                    <a href="">검증제도</a>
                </li>
                <li>
                    <a href="">EU CBAM <br>헬프데스크</a>
                </li>
                <li>
                    <a href="">센터소개</a>
                </li>
                <!--로그인전 로그인 후로 나누어집니다. -->
                <li>
                    <a href="/user/login">로그인</a>
                </li>
            </ul>
            <div class="total_submn selected-ko">
                <div id="subcon" class="subcon">
                    <dl>
                        <dt class="sub01_00">종합정보망</dt>
                        <dd class="sub01_01 open">
                            <a href="" target="_self" title="" class="">환경규제정보</a>
                            <ul style="display: none;">
                                <li class="sub01_01_01">
                                    <a href="/news/list" target="_self"
                                       title="">최신뉴스
                                    </a>
                                </li>
                                <li class="sub01_01_02">
                                    <a href="/analysisReport/list"
                                       target="_self" title="">분석보고서
                                    </a>
                                </li>
                                <li class="sub01_01_03">
                                    <a href="/regulation/list"
                                       target="_self" title="">국제환경규제
                                    </a>
                                </li>
                                <li class="sub01_01_04">
                                    <a href="/agreement/list"
                                       target="_self" title="">국제환경협약
                                    </a>
                                </li>
                                <li class="sub01_01_05">
                                    <a href="/legislation/list"
                                       target="_self" title="">법률전문보기
                                    </a>
                                </li>
                                <!-- <li class="sub01_01_05"><a href="/reportOffer/list"
                                    target="_self" title="">모니터링 정보제안</a></li>
                                <li class="sub01_01_06"><a href="/case/list" target="_self"
                                    title="">환경제재사례</a></li>-->
                            </ul>
                        </dd>
                        <dd class="sub01_02 open">
                            <a href="" target="_self" title="">규제물질정보</a>
                            <ul style="display: none;">
                                <li class="sub01_02_01">
                                    <a href="/reachSvhc/list" target="_self" title="">EU
                                        REACH SVHC후보물질
                                    </a>
                                </li>
                                <li class="sub01_02_02">
                                    <a href="/reachPermission/list" target="_self" title="">EU
                                        REACH 허가물질/제한물질
                                    </a>
                                </li>
                                <li class="sub01_02_03">
                                    <a href="/euRohs/list" target="_self" title="">EU RoHS
                                        예외조항 부속서 III / IV
                                    </a>
                                </li>
                                <!-- <li class="sub01_02_04"><a href="/euRohsMedical/list" target="_self" title="">EU RoHS 예외조항 부속서 IV</a></li> -->
                                <!-- <li class="sub01_02_05"><a href="/reach/list" target="_self" title="">등록(사전등록)대상여부 확인</a></li> -->
                            </ul>
                        </dd>
                        <dd class="sub01_03 open">
                            <a href="" target="_self" title="">정보아카이브</a>
                            <ul style="display: none;">
                                <li class="sub01_02_01">
                                    <a href="/eduLibrary/list" target="_self"
                                       title="">자료실
                                    </a>
                                </li>
                                <li class="sub01_02_02">
                                    <a href="/book/list" target="_self" title="">출판물</a>
                                </li>
                                <li class="sub01_02_03">
                                    <a href="/video/list" target="_self">영상자료</a>
                                </li>
                            </ul>
                        </dd>
                        <dd class="sub01_04 open">
                            <a href="" target="_self" title="">전문기관 정보</a>
                            <ul style="display: none;">
                                <li class="sub01_02_02">
                                    <a href="/inside/list" target="_self"
                                       title="">국내전문기관정보
                                    </a>
                                </li>
                                <li class="sub01_02_03">
                                    <a href="/outside/list" target="_self"
                                       title="">해외전문기관정보
                                    </a>
                                </li>
                                <li class="sub01_02_04">
                                    <a href="/representative/list" target="_self" title="">전문기관
                                        신청
                                    </a>
                                </li>
                            </ul>
                        </dd>
                        <dd class="sub01_05 ">
                            <a href="/reportOffer/list" target="_self" title="">모니터링 정보제안</a>
                        </dd>
                        <dd class="sub01_06">
                        </dd>
                    </dl>
                    <dl>
                        <dt class="sub02_00">상담지원</dt>
                        <!-- <dd class="sub02_01">
                            <a href="" target="_self" title="">상담안내</a>
                        </dd> -->
                        <!--<dt class="sub02_02">자가진단</dt>-->
                        <dd class="sub02_03 open">
                            <a href="" target="_self" title="">상담신청</a>
                            <ul style="display: none;">
                                <li class="sub02_03_01">
                                    <a href="/online/tel" target="_self"
                                       title="/online/list">전화상담
                                    </a>
                                </li>
                                <li class="sub02_03_02">
                                    <a href="/online/list" target="_self"
                                       title="/online/list">온라인 상담
                                    </a>
                                </li>
                                <li class="sub02_03_03">
                                    <a href="/visit/start" target="_self"
                                       title="/visit/start">센터방문상담
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="sub03_00">알림마당</dt>
                        <dd class="sub03_01">
                            <a href="/major/schedule/list" target="_self" title="">주요일정</a>
                        </dd>
                        <dd class="sub03_02">
                            <a href="/notice/list" target="_self">공지사항</a>
                        </dd>
                        <dd class="sub03_03">
                            <a href="/academy/list" target="_self" title="">행사/교육 신청</a>
                        </dd>
                        <dd class="sub03_04">
                            <a href="/poll/list" target="_self">설문조사</a>
                        </dd>
                        <dd class="sub03_05 ">
                            <a href="/faq/list" target="_self" title="">FAQ</a>
                        </dd>
                        <dd class="sub03_06 ">
                            <a href="/qna/list" target="_self" title="">Q&A</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="sub04_00">검증제도</dt>
                        <% menu.forEach((item) => { %>
                            <dd class="">
                                <a href="" target="_self" title="" class=""><%= item.title %></a>
                                <ul style="display: none;">
                                    <% item.items.forEach((sub) => { %>
                                        <li class="">
                                            <a href="<%= sub.url %>" target="_self"
                                               title=""><%= sub.title %>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </dd>
                        <% }); %>
                    </dl>
                    <dl>
                        <dt class="sub05_00">EU CBAM 헬프데스크</dt>
                        <dd class="sub05_01 open">
                            <a href="" target="_self" title="" class="">EU CBAM 소개</a>
                            <ul style="display: none;">
                                <li class="sub07_01_01">
                                    <a href="/eucbam/introduce/outline" target="_self"
                                       title="">개요
                                    </a>
                                </li>
                                <li class="sub07_01_02">
                                    <a href="/eucbam/introduce/apply" target="_self"
                                       title="">적용범위
                                    </a>
                                </li>
                                <li class="sub07_01_03">
                                    <a href="/eucbam/introduce/period" target="_self"
                                       title="">기간별 의무사항
                                    </a>
                                </li>
                                <li class="sub07_01_04">
                                    <a href="/eucbam/introduce/react" target="_self"
                                       title="">수출타입별 대응방안
                                    </a>
                                </li>
                                <li class="sub07_01_05">
                                    <a href="/eucbam/introduce/verification" target="_self"
                                       title="">검증
                                    </a>
                                </li>
                                <li class="sub07_01_06">
                                    <a href="/eucbam/introduce/faq/list" target="_self"
                                       title="">FAQ
                                    </a>
                                </li>
                            </ul>
                        </dd>
                        <dd class="sub05_02 open">
                            <a href="" target="_self" title="">게시판</a>
                            <ul style="display: none;">
                                <li class="sub07_02_01">
                                    <a href="/eucbam/schedule/list" target="_self" title="">주요일정</a>
                                </li>
                                <li class="sub07_02_02">
                                    <a href="/eucbam/data/list" target="_self"
                                       title="">자료실
                                    </a>
                                </li>
                                <li class="sub07_02_03">
                                    <a href="/eucbam/euvideo/list" target="_self" title="">영상자료</a>
                                </li>
                            </ul>
                        </dd>
                        <dd class="sub05_03 ">
                            <a href="" target="_self" title="">상담지원</a>
                            <ul style="display: none;">
                                <li class="sub07_03_01">
                                    <a href="/eucbam/counsel/online/oncon" target="_self"
                                       title="">온라인상담
                                    </a>
                                </li>
                                <li class="sub07_03_02">
                                    <a href="/eucbam/counsel/tel" target="_self" title="">전화상담</a>
                                </li>
                                <li class="sub07_03_03">
                                    <a href="/eucbam/counsel/visit/list" target="_self"
                                       title="">방문상담
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="sub04_00">센터소개</dt>
                        <dd class="sub04_01 open">
                            <a href="" target="_self" title="">센터 소개</a>
                            <ul style="display: none;">
                                <li class="sub04_01_01">
                                    <a href="/introduce/list" target="_self" title="">COMPASS란</a>
                                </li>
                                <li class="sub04_01_02">
                                    <a href="/introduce/work" target="_self"
                                       title="">주요업무
                                    </a>
                                </li>
                                <li class="sub04_01_04">
                                    <a href="/introduce/map" target="_self"
                                       title="">오시는길
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <!--로그인 전-->
                    <dl style="display:">
                        <dt class="sub05_00">로그인</dt>
                        <dd class="sub05_01">
                            <a href="/user/login" target="_self" title="">로그인</a>
                        </dd>
                        <dd class="sub05_02 ">
                            <a href="/member/join" target="_self" title="">회원가입</a>
                        </dd>
                    </dl>
                    <!--로그인 후-->
                    <dl></dl>
                    <dl class="lastdl"></dl>
                </div>
            </div>
            <!-- selected korean : end -->
            <!-- selected english : start -->
            <ul class="total_mn selected-en">
                <li>
                    <a href="" class="on">검증제도</a>
                </li>
            </ul>
            <div class="total_submn selected-en">
                <div id="subcon" class="subcon">
                    <dl>
                        <dt class="sub04_00">검증제도</dt>
                        <% menu.forEach((item) => { %>
                            <dd class="">
                                <a href="" target="_self" title="" class=""><%= item.title %></a>
                                <ul style="display: none;">
                                    <% item.items.forEach((sub) => { %>
                                        <li class="">
                                            <a href="<%= sub.url %>" target="_self"
                                               title=""><%= sub.title %>
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </dd>
                        <% }); %>
                    </dl>
                </div>
            </div>
            <!-- selected english : end -->
        </div>
    </div>
</div>