<div class="apply-signature">
    <ul>
        <li>「국제통용 발자국 검증제도 운영요령」제12조에 의거하여 위와 같이 검증기관 승인을 신청합니다.</li>
        <li>- 본 기관은 운영기관의 검증기관 등록, 승인 및 공시(Notification) 절차, 운영기관과 검증기관간의 협약의 내용을 충분히 이해하였으며 모든 내용을 수락함을 확인함</li>
        <li>- 신청서에 기재한 모든 내용은 완전하며 사실임을 확인함</li>
    </ul>
    <div class="date">
        <label class="year">20
            <input type="text">년
        </label>
        <label class="month">
            <input type="text">월
        </label>
        <label class="month">
            <input type="text">일
        </label>
    </div>
    <div class="signature">
        <strong>한국생산기술연구원장 귀하</strong>
        <div class="stamp">
            <strong>신청인 (서명 또는 인)
                <button type="button">휴대폰 인증</button>
            </strong>
            <strong>신청기관장 (직인)</strong>
        </div>
    </div>
    <div class="apply-files">
        <strong>구비서류</strong>
        <p>
            <span>1. 법인 정관 1부(최초/갱신)</span>
            <span>2. 법인등기부등본 1부(최초/갱신)</span>
            <span>3. 검증심사원 현황
                <button type="button">양식 D/L</button>
            </span>
        </p>
        <strong>구비서류 파일등록</strong>

        <%
        const titles = [
            '법인정관 1부',
            '법인등기부등본 1부',
            '검증심사원현황',
            '신청기관장 직인 날인 신청서',
        ];
        %>
        <% for(let i = 0; i < 4; i++) { %>
            <div class="apply-file">
                <strong><%= titles[i] %></strong>
                <label><input type="text"
                              id="file-path-<%= i + 1 %>"
                              readonly></label>
                <label for="upload-file-<%= i + 1 %>">파일추가</label>
                <input type="file"
                       id="upload-file-<%= i + 1 %>"
                       class="input-file"
                       data-path="file-path-<%= i + 1 %>"
                       hidden>
                <button type="button"
                        id="delete-file"
                        class="delete-file"
                        data-target="upload-file-<%= i + 1 %>">삭제
                </button>
            </div>
        <% } %>
    </div>
</div>