---
group: koagi
state:
    default: 식물현황상세-국립한국자생식물원
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <%
    currentCategory = 'native';
    currentName = '국립한국자생식물원';
    currentNav = 'tour';
    imgPath = `${process.env.IMG_PATH}/koagi`
    %>
    <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_head`, {
        title: currentName,
        currentCategory: currentCategory
    }); %>
</head>
<body class="<%= currentCategory %>">
    <!-- skip navigation -->
    <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_skipNavigation`) %>
    <!-- // skip navigation -->

    <!-- wrap -->
    <div id="wrap">
        <!-- header -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_header`, {
            currentCategory,
            currentNav,
            currentName

        }) %>
        <!-- // header -->

        <!-- visual sub -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_visualSub`, {
            type: 'plant',
            currentNav: '둘러보기',
            key: '국민이 행복한 수목원',
            info: '산림생물다양성 보전과 활용의 중심인 국립백두대간수목원에서<br>산림가치 증진을 통해 국민이 행복한 수목원을 만들어 나가겠습니다',
        }) %>
        <!-- // visual sub -->
        
        <!-- title -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_titleSub`, {
            title: '식물현황',
            desc: '유아부터 성인까지 즐길 수 있는 다양한 교육 프로그램을 소개합니다. 관심 있는 프로그램을 확인하고 신청해 보세요. ',
            depths: [
                '둘러보기',
                '식물현황'
            ],
        }) %>
        <!-- // title -->

        <!-- contents -->
        <div id="body">

            <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_detail`, {
                title: '가는다리장구채',
                thumb: {
                    id: 'plantThumb',
                    parentId: 'plantSwiper',
                },
                dummy: 'plant',
                items: [
                    {
                        title: '학명',
                        desc : 'Lysimachia candida var. leucantha Makino',
                    },
                    {
                        title: '영명',
                        desc : 'Lysimachia leucantha Miq',
                    },
                    {
                        title: '개화기',
                        desc : '5월~6월',
                    },
                    {
                        title: '위치',
                        desc : '동물이름 식물원',
                    },
                    {
                        title: '분류',
                        desc : '현화식물문 > 목련강 > 딜레니아아강 > 앵초목 > 앵초과 > 참좁쌀풀속',
                    },
                ],
                description: '물가의 양지바른 습지에서 높이 40~60cm 정도로 자라는 여러해살이풀이다. 전체에 털이 없다. 줄기는 곧추서고 모서리가 있으며, 가지는 거의 갈라지지 않는다. 잎은 어긋나며, 도피침형 또는 넓은 선형이고 길이 2~4.5cm, 폭 3~5mm이다. 잎 가장자리는 밋밋하다. 잎자루에 검은색 샘점이 있다. 꽃은 흰색으로 5~6월에 피는데 줄기 끝의 총상꽃차례를 이룬다. 열매는 삭과이며, 암술대가 남아 있다. 우리나라 제주도, 전라남도 구례, 해남, 경상남도 지리산 등 남부지방에 자생하며 일본에 분포한다. 이 종은 두메까치수염에 비해 잎은 도피침형 또는 넓은 선형으로 좁고 끝이 둔하므로 구별된다. 관상용으로 심는다. 물까치수영이라고도 한다. <br><br>줄기는 곧추서고 모서리가 있으며, 가지는 거의 갈라지지 않는다. 잎은 어긋나며, 도피침형 또는 넓은 선형이고 길이 2~4.5cm, 폭 3~5mm이다. 잎 가장자리는 밋밋하다. 잎자루에 검은색 샘점이 있다. 꽃은 흰색으로 5~6월에 피는데 줄기 끝의 총상꽃차례를 이룬다. 열매는 삭과이며, 암술대가 남아 있다. 우리나라 제주도, 전라남도 구례, 해남, 경상남도 지리산 등 남부지방에 자생하며 일본에 분포한다. 이 종은 두메까치수염에 비해 잎은 도피침형 또는 넓은 선형으로 좁고 끝이 둔하므로 구별된다. 관상용으로 심는다. 물까치수영이라고도 한다.'
            }) %>

        </div>
        <!-- // contents -->
        
        <!-- footer -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_footer`, {
            currentCategory,
            currentName
        }) %>
        <!-- // footer -->
        
        <!-- navigation -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_navigation`, {
            currentCategory: currentCategory
        }) %>
        <!-- // navigation -->
    </div>
    <!-- // wrap -->
</body>
</html>