---
group: koagi
state:
    default: 예약시스템-교육프로그램신청상세-국립한국자생식물원
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <%
    currentName = '한국수목원정원관리원';
    currentCategory = 'system';
    currentNav = 'native';
    imgPath = `${process.env.IMG_PATH}/koagi`
    %>
    <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_head`, {
        title: currentName,
        currentCategory: currentCategory
    }); %>
</head>
<body class="<%= currentCategory %>">
    <!-- skip navigation -->
    <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_skipNavigation`) %>
    <!-- // skip navigation -->

    <!-- wrap -->
    <div id="wrap">
        <!-- header -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_header`, {
            currentCategory,
            currentNav,
            currentName
        }) %>
        <!-- // header -->

        <!-- title -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_titleSub`, {
            title: '교육신청',
        }) %>
        <!-- // title -->

        <!-- contents -->
        <div id="body">
            <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_eduDetail`, {
            }) %>
        </div>
        <!-- // contents -->

        <!-- footer -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_footer`, {
            currentName,
            currentCategory,
        }) %>
        <!-- // footer -->

        <!-- navigation -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_navigation`, {
            currentCategory: currentCategory
        }) %>
        <!-- // navigation -->
    </div>
    <!-- // wrap -->
</body>
</html>