---
group: always360
state:
    default: 회원가입완료
---
<!DOCTYPE html>
<html lang="ko">
<%
imgPath = `${process.env.IMG_PATH}/always360`;
%>
<head>
    <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_head`, {
        title: '경기도아동언제나돌봄 | 회원서비스 - 회원가입 완료'
    }); %>
</head>
<body>
    <div id="wrap">
        <!-- 팝업(s) -->
        <!-- // 팝업(e)  -->
        <!-- skip -->
        <div id="skip">
            <a href="https://www.gg.go.kr/always360/index.do#container">본문 바로가기</a>
        </div>
        <!-- // skip -->
        <!-- 헤더 -->
        <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_header`) %>
        <!-- //헤더 -->
        <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_joinComplete`) %>
        <div class="bg_dimm"
             style="<%= state.includes('layer') ? 'display: block' : ''; %>"></div>
        <!-- 푸터 -->
        <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_footer`) %>
        <!-- // 푸터 -->
        <!-- 스크롤 탑 버튼 -->
        <button type="button"
                class="top_btn"
                title="스크롤 위로 올리기"></button>
        <!-- // 스크롤 탑 버튼 -->
    </div>
</body>
</html>