---
group: always360
state:
    default: 경기도아동언제나돌봄
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_head`); %>
    <link rel="stylesheet"
          href="<%= process.env.BASE_PATH %>/styles/always360/always360<%= process.env.MINIFY %>.css<%= `?${setTimestamp()}`; %>">
</head>
<%
imgPath = `${process.env.IMG_PATH}/always360`;
%>
<body>
    <div id="wrap">
        <!-- 팝업(s) -->
        <!-- // 팝업(e)  -->
        <!-- skip -->
        <div id="skip">
            <a href="https://www.gg.go.kr/always360/index.do#container">본문 바로가기</a>
        </div>
        <!-- // skip -->
        <!-- 헤더 -->
        <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_header`) %>
        <!-- //헤더 -->

        <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_main`) %>
        <div class="bg_dimm"></div>
        <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_footer`) %>
        <!-- 푸터 -->
    </div>
    <script>
        function fncGetCookie(name) {
            var nameOfCookie = name + '=';
            var x = 0;

            while (x <= document.cookie.length) {
                var y = (x + nameOfCookie.length);
                if (document.cookie.substring(x, y) == nameOfCookie) {
                    if ((endOfCookie = document.cookie.indexOf(';', y)) == -1) {
                        endOfCookie = document.cookie.length;
                    }
                    return unescape(document.cookie.substring(y, endOfCookie));
                }
                x = document.cookie.indexOf(' ', x) + 1;

                if (x == 0) break;
            }

            return '';
        }

        function fncSetCookie(name, value, days) {
            const updatedCookie = encodeURIComponent(name) + '=' + encodeURIComponent(value);
            var todayDate = new Date();
            todayDate.setDate(todayDate.getDate() + days);
            document.cookie = updatedCookie + '; path=/; expires=' + todayDate.toGMTString() + ';';
        }

        function insertMenu() {
            var menuSn = '';
            if (null == menuSn || '' == menuSn) {
                menuSn = '0';
            }

            $.ajax({
                url  : '/always360/cntn/stats/menu/insert.do',
                type : 'POST',
                data : {
                    'menuSn': menuSn,
                },
                error: function (request, status, error) {
                },
            });
        }

        //접속 통계
        $(document).ready(function () {
            var statAt = fncGetCookie('SITE_STAT');
            if (statAt == null || statAt != 'Y') {
                $.ajax({
                    url    : '/always360/cntn/stats/insert.do',
                    type   : 'POST',
                    error  : function (request, status, error) {
                    },
                    success: function () {
                        fncSetCookie('SITE_STAT', 'Y', 1);
                    },
                });
            }

            insertMenu();
        });
    </script>
        <!-- // 푸터 -->
        <!-- 스크롤 탑 버튼 -->
        <button type="button"
                class="top_btn"
                title="스크롤 위로 올리기"></button>
        <!-- // 스크롤 탑 버튼 -->
    </div>
    <script>
        var f = document.forms['frm'];
        $(document).ready(function () {


            fnSelectTabList(2502170001);
            $('#frm').submit(function (e) {
                if ($('#userId').val() == '') {
                    alert('아이디를 입력해주세요.');
                    $('#userId').focus();
                    return false;
                }
                if ($('#userPswd').val() == '') {
                    alert('비밀번호를 입력해주세요.');
                    $('#userPswd').focus();
                    return false;
                }

                lodingFixedOn('로그인 중 입니다.', 300, 100);

                $.ajax({
                    url     : '/always360/sso/login.do',
                    type    : 'POST',
                    data    : {
                        userId: f.userId.value,
                        userPw: f.userPswd.value,
                    },
                    dataType: 'json',
                    error   : function (request, s, e) {
                        alert(request.status + '\n' + request.responseText);
                        lodingOff(document.body);
                    },
                    success : function (result) {
                        var item = result[0];
                        if (item.msg != '') {
                            if (item.msg.indexOf('중복') != -1) {//중복이면 실행
                                if (confirm(item.msg)) {
                                    $.ajax({
                                        url     : '/always360/sso/login.do',
                                        type    : 'POST',
                                        data    : {
                                            userId: f.userId.value,
                                            userPw: f.userPswd.value,
                                            priAt : 'Y',
                                        },
                                        dataType: 'json',
                                        error   : function (request, s, e) {
                                            lodingOff(document.body);
                                        },
                                        success : function (result) {
                                            var item = result[0];
                                            if (item.msg != '') {
                                                alert(item.msg);
                                                lodingOff(document.body);
                                                return false;
                                            } else {
                                                if ('') {
                                                    location.href = ''.replace(/&amp;/g, '&');
                                                } else {
                                                    f.action = '/always360/';
                                                    f.method = 'post';
                                                    f.submit();
                                                }
                                            }
                                        },
                                    });

                                    lodingOff(document.body);
                                }
                            } else {
                                alert(item.msg);
                                if (item.msg.indexOf('아이디') != -1) {
                                    $('#userId').val('');
                                    $('#userPswd').val('');
                                    $('#userId').focus();
                                } else {
                                    $('#userPswd').val('');
                                    $('#userPswd').focus();
                                }
                            }
                        } else {
                            if (f.saveId.checked) {
                                SetCookie('LOGIN_ID_SAVE_ADM', $('#userId').val());
                            } else {
                                SetCookie('LOGIN_ID_SAVE_ADM', '');
                            }

                            if ('') {
                                location.href = ''.replace(/&amp;/g, '&');
                            } else {
                                f.action = '/always360/';
                                f.method = 'post';
                                f.submit();
                            }
                        }
                        lodingOff(document.body);
                        return false;
                    },
                });

                return false;
            });

            // 쿠키 아이디저장 정보 확인
            var cid = getCookie('LOGIN_ID_SAVE_ADM');
            var cookieId = cid;

            if (cookieId != 'null' && cookieId != null && cookieId.length > 0) {
                $('#saveId').prop('checked', true);
                $('#userId').val(cookieId);
                $('#userPw').focus();
            } else {
                $('#saveId').prop('checked', false);
            }

            // a태그 영역 없어서 추가
            $('.logo').click(function (e) {
                e.preventDefault();
                location.href = '/always360';
            });

            // 위치 default 설정
            navigator.geolocation.getCurrentPosition((position) => {
                $('#sc_la').val(position.coords.latitude);
                $('#sc_lo').val(position.coords.longitude);
                fn_egov_link_page(1);
            }, (response) => {
                $('#sc_la').val(37.31569487573391);
                $('#sc_lo').val(126.99118931024279);
                fn_egov_link_page(1);
            });

            function fn_egov_link_page(v) {
                $('#pageIndex').val(v);
                var form_data = $('#frm2').serializeArray();
                $('#map_load').load('/always360/childcareMap/childcareMapMainList.layer', form_data, () => lodingOff(document.body));
            }
        });

        function fnSelectTabList(bbsCtgrySn) {
            $.ajax({
                url     : '/always360/bbs/getAjaxList.do',
                type    : 'POST',
                data    : {
                    'key'       : '2502120002',
                    'bbsCtgrySn': bbsCtgrySn,
                },
                dataType: 'json',
                error   : function (request, status, error) {
                },
                success : function (result) {
                    callback_selectList(result[0].item, bbsCtgrySn);
                    let moreTxtMap = {
                        '2502170001': '임신에서 출산까지 더보기',
                        '2502170002': '영유아 더보기',
                        '2502170003': '아동청소년 더보기',
                        '2503280004': '360돌봄 더보기',
                    };

                    let moreTxt = moreTxtMap[bbsCtgrySn] || '';
                    //$("#mainMoreBtn").attr("alt", moreTxt);
                    $('#mainMoreBtn').attr('aria-label', moreTxt);
                },
            });
        }

        function callback_selectList(data, bbsCtgrySn) {
            const tabcnt = data.tCount;
            const dataItemList = data.itemList;
            var html = '';
            if (tabcnt > 0) {
                for (var j = 0; j < dataItemList.length; j++) {
                    const itemList = dataItemList[j];
                    const iemList = itemList.iemList;
                    const cate = itemList.bbsCtgrySn;
                    $('#ul' + cate).html('');

                    var methodStr1 = '';
                    var urlLinkStr1 = '';
                    var methodStr2 = '';
                    var urlLinkStr2 = '';
                    for (var h = 0; h < iemList.length; h++) {
                        if (iemList[h].bbsColSn != '2502170017' && !(iemList[h].bbsColSn == '2502170014' || iemList[h].bbsColSn == '2502170015' || iemList[h].bbsColSn == '2502170016')) {
                            if (iemList[h].bbsColSn == '2502170016') {
                                methodStr1 = iemList[h].pstVrColCn;
                            } else if (iemList[h].bbsColSn == '2504090018') {
                                urlLinkStr1 = iemList[h].pstVrColCn;
                            } else if (iemList[h].bbsColSn == '2504090020') {
                                methodStr2 = iemList[h].pstVrColCn;
                            } else if (iemList[h].bbsColSn == '2504090019') {
                                urlLinkStr2 = iemList[h].pstVrColCn;
                            }
                        }
                    }

                    html += '<li>';
                    html += '<div class="li_tit">' + itemList.pstTtl + '</div>';
                    html += '<div class="txt_wrap">';
                    for (var i = 0; i < iemList.length; i++) {
                        if (iemList[i].bbsColSn != '2502170017' && (iemList[i].bbsColSn == '2502170014' || iemList[i].bbsColSn == '2502170015' || iemList[i].bbsColSn == '2502170016')) {
                            html += '<dl>';
                            html += '<dt>' + cateNm(iemList[i].bbsColSn) + '</dt>';
                            html += '<dd>' + iemList[i].pstVrColCn;
                            if (iemList[i].bbsColSn == '2502170016') {
                                html += methodStr1;
                                if (urlLinkStr1 !== '') {
                                    html += '<div class="link_wrap">';
                                    html += '(<a title="새 창 열림" target="_blank" href="' + urlLinkStr1 + '" class="link_txt">';
                                    html += urlLinkStr1;
                                    html += '</a>)';
                                    html += '</div>';
                                }
                                html += methodStr2;
                                if (urlLinkStr2 !== '') {
                                    html += '<div class="link_wrap">';
                                    html += '(<a title="새 창 열림" target="_blank" href="' + urlLinkStr2 + '" class="link_txt">';
                                    html += urlLinkStr2;
                                    html += '</a>)';
                                    html += '</div>';
                                }
                            }
                            html += '</dd>';
                            html += '</dl>';
                        }
                    }
                    html += '</div>';
                    html += '<div class="tel_tag">';
                    for (var i = 0; i < iemList.length; i++) {
                        if (iemList[i].bbsColSn == '2502170017') {
                            html += itemList.rgtrNm + ' ' + iemList[i].pstVrColCn;
                        }
                    }
                    html += '</div>';
                    html += '</li>';
                    $('#ul' + cate).append(html);
                }
            } else {
                $('#ul' + bbsCtgrySn).html('');
                html = '<li><a href="javascript:;"><div class="li_tit">검색 결과가 없습니다.</div></a></li>';
                $('#ul' + bbsCtgrySn).append(html);
            }
        }

        function cateNm(nm) {
            switch (nm) {
                case    2502170014 :
                    return '지원대상';
                case    2502170015 :
                    return '지원내용';
                case    2502170016 :
                    return '신청방법';
                case    2502170017 :
                    return '연 락 처';
                default :
                    return '카테고리';
            }
        }

        function redirectToNaverLogin() {
            var clientId = 'fOd3pUlyKxvcx8Y0FLuB';
            var redirectUri = 'https://www.gg.go.kr/always360/auth/naver_auth.do';
            var state = generateRandomString(6);	//보안을 위한 상태 매개변수
            var scope = 'email gender name birthdate mobile'; // 필요한 스코프 설정

            var authorizeUrl = 'https://nid.naver.com/oauth2.0/authorize';
            var queryParams = {
                response_type: 'code',
                client_id    : clientId,
                redirect_uri : redirectUri,
                state        : state,
                scope        : scope,
            };

            var url = authorizeUrl + '?' + Object.keys(queryParams).map(function (key) {
                return key + '=' + queryParams[key];
            }).join('&');

            window.open(url, 'popupMobile', 'width=800, height=600, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no').focus();
        }

        function kakaoLogin() {
            var url = 'https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=47e3988496714f819725ac0220ae45be&redirect_uri=https://www.gg.go.kr/always360/auth/kakao_auth.do';
            window.open(url, 'popupMobile', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no').focus();
        }

        function googleOauthSignIn() {
            // Google's OAuth 2.0 endpoint for requesting an access token
            var oauth2Endpoint = 'https://accounts.google.com/o/oauth2/v2/auth';

            // 인증에 필요한 파라미터 설정
            var params = {
                'client_id'             : '993034530851-ru0o2t4pvfl12df4tjnlq1m932tlff2a.apps.googleusercontent.com',
                'redirect_uri'          : 'https://www.gg.go.kr/always360/auth/google_auth.do',
                'response_type'         : 'code',
                'scope'                 : 'profile email',
                'include_granted_scopes': 'true',
                'state'                 : generateRandomString(6),
            };

            // 파라미터를 쿼리스트링으로 변환
            var queryString = Object.keys(params).map(function (key) {
                return key + '=' + encodeURIComponent(params[key]);
            }).join('&');

            // 전체 URL 생성
            var url = oauth2Endpoint + '?' + queryString;

            // 팝업 창으로 구글 로그인 페이지 열기
            window.open(url, 'popupMobile', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no').focus();
        }

        function setCookie(name, value, days) {
            const updatedCookie = encodeURIComponent(name) + '=' + encodeURIComponent(value);
            var todayDate = new Date();
            todayDate.setDate(todayDate.getDate() + days);
            document.cookie = updatedCookie + '; path=/; expires=' + todayDate.toGMTString() + ';';
        }

        //메인팝업 열기
        function mainPop(popKey) {
            if ($('#mainPopup_' + popKey).val() === undefined) return false;

            var cookieName = 'ALWAYS_MAIN_POPUP_' + popKey;
            var cookieCheck = getCookie(cookieName);

            if (typeof cookieCheck == 'undefined') {
                cookieCheck = 'N';
            }

            if (cookieCheck != 'Y') {
                $('#mainPopup_' + popKey).show();
            }
        }

        //메인팝업 닫기
        function closePop(popKey) {
            $('#mainPopup_' + popKey).hide();
        }

        //오늘하루 열지않음
        function closeMainPop(popKey) {
            var cookieName = 'ALWAYS_MAIN_POPUP_' + popKey;
            setCookie(cookieName, 'Y', 1);
            $('#mainPopup_' + popKey).hide();
        }
    </script>
</body>
</html>