---
group: always360
state:
    default: 게시이벤트
    list: 참여목록
---
<%
const imgPath = `${process.env.IMG_PATH}/always360`;
%>
<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_head`); %>
    <link rel="stylesheet"
          href="<%= process.env.BASE_PATH %>/styles/always360/event<%= process.env.MINIFY %>.css<%= `?${setTimestamp()}`; %>">
</head>
<body class="event-wrap">
    <section class="review-visual">
        <div class="visual-wrap">
            <h1 class="review-title">이용 후기 및 홍보글 게시 이벤트</h1>
            <p class="review-desc">언제나돌봄서비스 실제 이용 후기 또는 홍보글을 <strong>블로그, 개인 SNS, 지역 카페</strong> 등에
                게시 후, 자신의 글이 올라간 <strong>URL과 캡쳐 화면</strong>을 등록해 주세요!</p>
            <p class="review-notice">
                ※ 이벤트 기간 종료 전 해당 게시글이 삭제된 경우, 미참여로 간주
                <br>※ 최소 10줄 이상의 글 작성 및 사진 첨부
                <br>※ 우수 후기는 추후 홍보자료로 활용될 수 있습니다.
                <% if (state === 'list') { %>
                    <button type="button" class="button-registration">등록하기</button>
                <% } %>
            </p>
        </div>
    </section>
    <section class="contents-review">
        <div class="review-wrap">
            <% if (state === 'default') { %>
                <strong>최우수 후기 당첨자는 다른 이벤트에 중복 당첨 불가</strong>
                <label for="jsTextarea" class="textarea">
                    <textarea id="jsTextarea" placeholder="URL 주소를 입력해 주세요"></textarea>
                </label>
                <div class="review-file">
                    <label for="jsPath">
                        <input type="text"
                               id="jsPath"
                               readonly>
                    </label>
                    <label for="jsFile"
                           class="label-file">
                        이미지첨부
                    </label>
                    <input type="file"
                           id="jsFile"
                           class="upload-file"
                           data-path="jsPath">
                </div>
                <!-- file list -->
                <ul class="files">
                    <li>
                        image_092589
                        <button type="button" id="jsDelete">
                            <%- include(`${process.env.INCLUDE_PATH}/components/_image`, {
                            isSimply: true,
                            source: `${imgPath}/icon-close.png`,
                            width: 23,
                            height: 23,
                            alt: '삭제'
                            }); %>
                            <span class="a11y">삭제</span>
                        </button>
                    </li>
                    <li>
                        image_092589
                        <button type="button" id="jsDelete">
                            <%- include(`${process.env.INCLUDE_PATH}/components/_image`, {
                            isSimply: true,
                            source: `${imgPath}/icon-close.png`,
                            width: 23,
                            height: 23,
                            alt: '삭제'
                            }); %>
                            <span class="a11y">삭제</span>
                        </button>
                    </li>
                </ul>
                <!-- // file list -->
                <button type="button" class="button-save">
                    저장
                </button>
            <% } %>
            <% if (state === 'list') { %>
                <ul class="applies">
                    <% for (let i = 0; i < 9; i++) { %>
                        <li class="<%= i === 0 ? 'my' : '' %>">
                            <span class="profile">
                                <% if (i === 0) { %>
                                    내글
                                <% } %>
                                <% if (i !== 0) { %>
                                    <%- include(`${process.env.INCLUDE_PATH}/components/_image`, {
                                    isSimply: true,
                                    source: `${imgPath}/icon-profile.png`,
                                    width: 28,
                                    height: 29,
                                    alt: '사람 픽토그램'
                                    }); %>
                                <% } %>
                            </span>
                            <strong class="name">홍길동</strong>
                            <span class="state">참여완료</span>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </section>

    <div class="layer">
        <strong>개인정보 수집 · 이용 동의</strong>
        <div class="layer-content">
            <table>
                <colgroup>
                    <col width="25%">
                    <col width="*">
                    <col width="20%">
                </colgroup>
                <thead>
                <tr>
                    <th>수집항목</th>
                    <th>수집 · 이용 목적</th>
                    <th>보유기간</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>아이디, 이름,
                        휴대폰번호, 이메일주소,
                        성별, 생년월일, <strong>주소</strong>
                    </td>
                    <td>
                        <strong>* 경품 발송 및 서비스 이용자 통계용
                            <br>* 우수 및 최우수 당첨 수기는
                            <br>추후 홍보용 자료로 활용</strong>
                    </td>
                    <td>
                        당첨자 발표 후
                        <strong>1년까지</strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>※ 개인정보 수집 미동의 시 제공혜택에 제한이 따를 수 있습니다.</p>
        </div>
        <div class="button-wrap">
            <button type="button" class="button-gray">
                동의안함
            </button>
            <button type="button" class="button-orange">
                동의함
            </button>
        </div>

        <button type="button" class="button-close" onclick="this.parentNode.style.display = 'none'">
            <span class="a11y">닫기</span>
        </button>
    </div>
    <script src="<%= process.env.BASE_PATH; %>/scripts/always360/event<%= process.env.MINIFY %>.js<%= `?${setTimestamp()}`; %>"
            defer></script>
</body>
</html>
