<%
var count = count || 4;
var thumb = thumb || undefined;
var title = title || '';
var items = items || [];
var dummy = dummy || '';
var description = description || '';
var bottomItems = bottomItems || {};
%>
<div class="detail-view">
    <div class="left">
        <div class="left-top">
            <div class="swiper-wrap swiper"
                 id="plantSwiper"
                    <%= thumb ? `data-type=thumb` : '' %>
                 data-gap="20"
                 data-per-view="1"
                    <%= thumb ? `data-thumb=${thumb.id}` : '' %>>
                <ul class="swiper-wrapper">
                    <% for (let i = 0; i < count; i++) { %>
                        <li class="swiper-slide">
                        <span class="img-wrap">
                            <%- include(`${process.env.INCLUDE_PATH}/components/_image`, {
                            width: 650,
                            height: 488,
                            isSimply: true,
                            source: `${imgPath}/dummy-${dummy}.jpg`,
                            alt: title,
                            }); %>
                        </span>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="pagination"></div>
            <button type="button"
                    class="button-next">
                <span class="sound-only">다음</span>
            </button>
            <button type="button"
                    class="button-prev">
                <span class="sound-only">이전</span>
            </button>
        </div>
        <% if (thumb) { %>
            <div id="<%= thumb.id %>"
                 data-parent="<%= thumb.parentId %>"
                 data-per-view="auto"
                 class="swiper-wrap thumb-swiper">
                <ul class="swiper-wrapper">
                    <% for (let i = 0; i < count; i++) { %>
                        <li class="swiper-slide">
                    <span class="img-wrap">
                        <%- include(`${process.env.INCLUDE_PATH}/components/_image`, {
                        width: 140,
                        height: 100,
                        isSimply: true,
                        source: `${imgPath}/dummy-${dummy}-thumb.jpg`,
                        alt: '학명',
                        }); %>
                    </span>
                        </li>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </div>
    <div class="right info">
        <dfn><%= title %></dfn>
        <ul>
            <%
            items.map(item => {
            %>
                <li>
                    <strong><%= item.title; %></strong>
                    <span><%= item.desc; %></span>
                </li>
            <% }); %>
        </ul>
        <div class="links">
            <a href="#"
               target="_blank"
               title="네이버 지도 새 창"
               class="link-map green">
                <span class="link-text">네이버 지도 보기</span>
            </a>
            <a href="#"
               target="_blank"
               title="카카오 지도 새 창"
               class="link-map yellow">
                <span class="link-text">카카오 지도 보기</span>
            </a>
        </div>
    </div>
</div>
<% if (description) { %>
    <p class="description">
        <%- description %>
    </p>
<% } %>

<% if (bottomItems.items.length > 0) { %>
    <div class="detail-items">
        <strong><%= bottomItems.title %></strong>
        <ul>
            <% bottomItems.items.map(item => { %>
                <li>
                    <span class="img-wrap">
                         <%- include(`${process.env.INCLUDE_PATH}/components/_image`, {
                         width: 270,
                         height: 220,
                         isSimply: true,
                         source: `${imgPath}/dummy-${bottomItems.dummy}.jpg`,
                         alt: item.title,
                         }); %>
                    </span>
                    <strong><%= item.title %></strong>
                    <p><%= item.price %></p>
                </li>
            <% }); %>
        </ul>
    </div>
<% } %>
<a href="#"
   class="link-list">
    목록
</a>