<%
var type = type || 'photos';
var count = count || 8;
var dummy = dummy || 'plant';
var badge = badge || '';
var title = title || '물까치수염';
var titleOverflow = titleOverflow || false;
var desc = desc || 'Lysimachia leucantha Miq';
var info = info || '';
var date = date || '';
var states = states || [];
%>
<ul class="gallery-items gallery-<%= type; %>">
    <% for(let i = 0; i < count; i++) { %>
        <li>
            <a href="#">
                <span class="img-wrap">
                    <%- include(`${process.env.INCLUDE_PATH}/components/_image`, {
                    width: 320,
                    height: 240,
                    isSimply: true,
                    source: `${imgPath}/dummy-${dummy}.jpg`,
                    alt: '',
                    }); %>
                </span>
                <div class="info-wrap">
                    <% if (states.length > 0) { %>
                        <div class="states">
                            <% states.forEach((state, i) => { %>
                                <strong class="state <%= state.color %>">
                                    <%= state.text %>
                                </strong>
                            <% }); %>
                        </div>
                    <% } %>
                    <div class="title<%= titleOverflow ? ' line-clamp' : '' %>">
                        <strong>
                            <%= title; %>
                            <% if (i === 1) { %>
                                <%= title; %>
                                <%= title; %>
                            <% } %>
                        </strong>
                        <% if (badge) { %>
                            <span class="badge">
                                <%= badge; %>
                            </span>
                        <% } %>
                    </div>
                    <% if (type !== 'grid' && desc !== 'hide') { %>
                        <p><%- desc %></p>
                    <% } %>
                    <% if (date) { %>
                        <p class="date"><%- date %></p>
                    <% } %>
                    <% if (info) { %>
                        <%- info %>
                    <% } %>
                </div>
            </a>
        </li>
    <% } %>
</ul>
<!-- pagination -->
<%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_pagination`, {
}) %>
<!-- // pagination -->