<%
var type = type || 'photos';
var count = count || 8;
var dummy = dummy || 'plant';
var dummyType = dummyType || 'jpg';
var badges = badges || [];
var title = title || '물까치수염';
var titleOverflow = titleOverflow || false;
var desc = desc || 'Lysimachia leucantha Miq';
var info = info || '';
var date = date || '';
var states = states || [];
var hidePagination = hidePagination || false;
%>
<ul class="gallery-items gallery-<%= type; %>">
    <% for(let i = 0; i < count; i++) { %>
        <li>
            <a href="#">
                <span class="img-wrap">
                    <%- include(`${process.env.INCLUDE_PATH}/components/_image`, {
                    width: 320,
                    height: 240,
                    isSimply: true,
                    source: `${imgPath}/dummy-${dummy}.${dummyType}`,
                    alt: '',
                    }); %>
                </span>
                <div class="info-wrap">
                    <% if (states.length > 0) { %>
                        <div class="states">
                            <% states.forEach((state, j) => { %>
                                <strong class="state <%= state.color %>">
                                    <%= state.text %>
                                </strong>
                            <% }); %>
                        </div>
                    <% } %>
                    <div class="title<%= titleOverflow ? ' line-clamp' : '' %>">
                        <strong>
                            <%= title; %>
                            <% if (i === 1) { %>
                                <%= title; %>
                                <%= title; %>
                            <% } %>
                        </strong>
                        <% if (badges.length > 0) { %>
                            <div class="badges">
                                <% badges.map((badge, k) => { %>
                                    <span class="badge <%= i === 0 && k === 0 ? badge.color : i === 1 && k === 0 ? 'green' : i === 2 && k === 0 ? 'gray' : 'outline' %>">
                                        <%= i === 0 && k === 0 ? '접수중' : i === 1 && k === 0 ? '접수대기' : i === 2 && k === 0 ? '접수마감' : badge.text %>
                                    </span>
                                <% }); %>
                            </div>
                        <% } %>
                    </div>
                    <% if (type !== 'grid' && desc !== 'hide') { %>
                        <p class="desc"><%- desc %></p>
                    <% } %>
                    <% if (date) { %>
                        <p class="date"><%- date %></p>
                    <% } %>
                    <% if (info) { %>
                        <%- info %>
                    <% } %>
                </div>
            </a>
        </li>
    <% } %>
</ul>
<% if (!hidePagination) { %>
<!-- pagination -->
<%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_pagination`, {
}) %>
<!-- // pagination -->
<% } %>