---
group: koagi
state:
    default: 생생교육후기-국립정원문화원
---
<!DOCTYPE html>
<html lang="ko">
<head>
    <%
    currentName = '국립정원문화원';
    currentCategory = 'garden';
    currentNav = 'application';
    imgPath = `${process.env.IMG_PATH}/koagi`
    %>
    <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_head`, {
        title: currentName,
        currentCategory: currentCategory
    }); %>
</head>
<body class="<%= currentCategory %>">
    <!-- skip navigation -->
    <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_skipNavigation`) %>
    <!-- // skip navigation -->

    <!-- wrap -->
    <div id="wrap">
        <!-- header -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_header`, {
            currentCategory,
            currentNav,
            currentName
        }) %>
        <!-- // header -->

        <!-- visual sub -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_visualSub`, {
            type: 'plant',
            currentNav: '둘러보기',
            key: '국민이 행복한 수목원',
            info: '산림생물다양성 보전과 활용의 중심인 국립백두대간수목원에서<br>산림가치 증진을 통해 국민이 행복한 수목원을 만들어 나가겠습니다',
        }) %>
        <!-- // visual sub -->
        
        <!-- title -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_titleSub`, {
            title: '생생 교육후기',
            depths: [
                '참여하기',
                '교육프로그램',
                '생생 교육후기',
            ],
        }) %>
        <!-- // title -->

        <!-- contents -->
        <div id="body">
            
            <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_counter`, {
                
            }) %>

            <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_list`, {
                dummy: 'review',
                title: '즐거운 호랑이 숲길 탐방',
                titleOverflow: true,
                date: '2025-06-29',
                desc: 'hide'
            }) %>

        </div>
        <!-- // contents -->
        
        <!-- footer -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_footer`, {
            currentName,
            currentCategory,
        }) %>
        <!-- // footer -->
        
        <!-- navigation -->
        <%- include(`${process.env.INCLUDE_PATH}/koagi/partials/_navigation`, {
            currentCategory: currentCategory
        }) %>
        <!-- // navigation -->
    </div>
    <!-- // wrap -->
</body>
</html>